# -----------------------------------------------------------------------
# ATTACK_T1016 - System Network Configuration Discovery
# -----------------------------------------------------------------------
-w /etc/resolv.conf -k ATTACK_T1016
-w /etc/hosts.allow -k ATTACK_T1016
-w /etc/hosts.deny -k ATTACK_T1016
-a always,exit -F path=/usr/sbin/usernetctl -F perm=x -F auid>=500 -F auid!=4294967295 -k ATTACK_T1016
